.section-footer{
    background-color: #1a1a1a;
    padding: 6rem 0;
}

.footer{
    &__top{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
         border-bottom: 1.6px solid var(--highlight);
         margin-bottom: 2rem;

         @media only screen and (max-width:43.75em){
           grid-template-columns: repeat(2, 1fr);
          }

          @media only screen and (max-width:37.5em){
            grid-template-columns: 1fr;
          }

          &-1{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            @media only screen and (max-width:37.5em){
              justify-content: center;
            }
          }

          &-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2rem;
          }
    }



    &__list{
        list-style: none;
        margin-bottom: 2rem;

         &-item{
            &:link,
            &:visited,
            &:active{
                display: inline-block;
                color: var(--highlight);
                text-decoration: none;
                transition: all .3s ease-in-out;
                font-size: 1.8rem;
            }
            &:hover{
           transform: scale(1.1) translateY(-3px);
           text-shadow: 0 10px 20px black;
         }
         }    
    }

     &__logo{
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        box-sizing: content-box;
    }

    &__text{
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
        font-weight: var(--font-body);
        color: var(--highlight);
        font-size: 1.8rem;

         @media only screen and (max-width:37.5em){
            margin-bottom: 2rem;
        }
    }

    &__heading{
        font-family: var(--font-heading);
        margin-bottom: 1.5rem;
        color: var(--highlight);
        text-shadow: 0 10px 13px black;
            
        @media only screen and (max-width:37.5em){
            margin-bottom: 1rem;
        }
    }

    &__social-icons{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__icon{
        width: 3rem;
        height: 3rem;
        color: var(--highlight);
        transition: all .3s ease-in-out;

         &:hover{
           transform: scale(1.2) translateY(-3px);
           text-shadow: 0 10px 20px black;
         }
    }

    .footer-middle{
        display: grid;
        justify-content: center;
        margin-bottom: 4rem;
    }

    &__copyright{
        text-align: center;
        color: var(--highlight);
    }
}