.header{
    position: fixed;
    top: 0;
    background-color: var( --highlight);
    z-index: 999;
    box-shadow: 0 10px 10px black;
    width: 100%;
    height: 10rem;
    padding-top: 4rem;

    &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    &__logo{
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        border: 3px solid var(--highlight);
        box-sizing: content-box;
    }

    &__links,
    &__dropdown-menu{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3rem;

        @media only screen and (max-width:62.25em){
          display: none;
        }
    }

    &__link,
    &__dropdown-link{
        &:link,
        &:visited,
        &:active{
        display: inline-block;
        color: var( --text);
        text-decoration: none;
        font-size: 1.8rem;
        font-family: var(--font-body);
        font-weight: var(--font-bold);
        transition: all .3s ease-in-out;
        }

        
        &:hover {
          color: #000;
          transform: scale(.9);
        }
    }
}

.header__dropdown {
  position: relative;

  .header__dropdown-menu {
    position: absolute;
    top: 100%;                  
    left: 20%;                 
    transform: translateX(-50%) translateY(10px);
    
    width: 50vw;                
    max-width: 1000px;          
    max-height: 60vh;           
    // overflow-y: auto;           
    padding: 25px 35px;
    background: #fff;
    list-style: none;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 50;

    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
      .header__dropdown-link {
        text-decoration: none;
        color: #333;
        font-size: 1.15rem;
        padding: 8px 0;
        display: block;
        transition: all .3s ease-in-out;

        &:hover {
          color: #000;
          transform: scale(1.2);
        }
      }
    }
  }

  // SHOW PANEL WHEN HOVERING SHOP OR THE PANEL ITSELF
  &:hover .header__dropdown-menu,
  .header__dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0px);
  }
}



.nav-social-icons{
    &__list{
         display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
   margin-left: auto;

   @media only screen and (max-width:62.25em){
          display: none;
        }
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        stroke: var(--primary-bg);
    }
}

/* ======================
   MOBILE NAV OVERLAY
========================= */

.mobile-nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15,15,15,0.96);
  backdrop-filter: blur(8px);
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 0.45s ease;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;

  &.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.mobile-nav__close {
  font-size: 5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
}

/* LINKS */
.mobile-nav__links {
  list-style: none;
  padding: 0;
  margin-top: 3rem;

  .mobile-nav__link:link, :visited{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 0;
    font-size: 1.8rem;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

/* ACCORDION */
.mobile-nav__accordion {
  .mobile-nav__accordion-btn {
    width: 100%;
    padding: 1rem 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    .arrow {
      transition: transform 0.3s ease;
    }
  }

  .mobile-nav__accordion-menu {
    list-style: none;
    padding-left: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;

    .mobile-nav__sublink:link,:visited {
      display: block;
      padding: 0.8rem 0;
      color: #ddd;
      font-size: 1.8rem;
      text-decoration: none;
    }
  }

  &.open .mobile-nav__accordion-menu {
    max-height: 400px;
  }

  &.open .arrow {
    transform: rotate(45deg);
  }
}

/* ICONS */
.mobile-nav__icons {
  margin-top: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.mobile-icon-btn {
    stroke: #fff;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }

/* HAMBURGER */
.header__hamburger {
  display: none;

  @media(max-width: 62.25em) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  background: none;
  border: none;
  cursor: pointer;

  span {
    width: 28px;
    height: 3px;
    background: #000;
    display: block;
    transition: 0.3s;
  }
}

/* Hide mobile header on desktop */
@media (min-width: 62.25em) {
  .mobile-nav-overlay {
    display: none !important;
  }
}




