
.heading-1{
  font-size: clamp(3rem, 5vw, 5rem);
  font-family: var(--font-heading);
  text-shadow: 0 20px 30px black;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: var(--color-white);
  margin-bottom: 1.5rem;
  // margin-top: 10rem ;

   @media only screen and (max-width:62.25em){
         padding-left: 4rem;
         padding-right: 4rem;
        }

   @media only screen and (max-width:56.25em){
         padding-left: 3rem;
         padding-right: 3rem;
        }

}

.heading-2 {
  font-size: clamp(2.4rem, 5vw, 3.5rem);
  font-weight: 400;
  font-family: var(--font-heading);
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.5px;
  color: inherit;
  margin-bottom: 4rem;
}


